.add-group {
  margin-inline: 4px;
  padding: 8px;
  width: rem(272px);
  border-radius: 12px;
  // box-shadow: $card-shadow;
  color: #fff;

  background: $add-card;

  transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;

  cursor: pointer;

  .open-form-button {
    padding: 6px 8px;
    width: 100%;
    height: 32px;
    background-color: transparent;
    font-size: 14px;
    text-align: start;
    color: inherit;

    .icon {
      margin: 2px;
      font-size: 16px;
    }
  }

  input {
    width: 100%;
    height: 32px;
    margin-block-end: 8px;
    padding: rem(4px) rem(8px) rem(4px) rem(12px);

    font-weight: 600;
    font-family: inherit;
    color: $card-title;

    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #388bff;
  }

  // .add-group-controls {
  //   height: 0;
  //   overflow: hidden;
  //   transition: all 0.15s;
  // }

  &.visible {
    background-color: $card-preview;
  }
}
