.add-close-buttons {
  // margin-block-end: 0;
  gap: rem(4px);

  height: 0;
  overflow: hidden;
  transition: all 0.15s;

  &.visible {
    background-color: $card-preview;
    height: rem(32px);
  }

  .add-button {
    padding: rem(8px) rem(12px);
    background-color: $btn-blue;
    color: #fff;

    border-radius: rem(3px);

    transition: 85ms all ease;

    &:hover {
      background-color: $btn-blue-hover;
    }
  }

  svg {
    cursor: pointer;
    font-size: rem(24px);
    color: $icon;

    &:hover {
      color: $small-titles;
    }
  }
}
