.app-header-home {
    font-family: charlie-regular;
    height: rem(60px);

    .logo {
        height: rem(40px);
        width: rem(170px);

        .logo-img {
            padding: rem(16px);
        }
    }

    .nav {
        flex: 1;
        gap: rem(4px);

        a {
            align-self: center;
            font-size: rem(16px);
            font-family: 600;
            color: $card-title;
            padding: rem(20px) rem(16px) rem(16px);
            text-decoration: none;
        }

        transition: .2s ease-in-out;

        &:hover a {
            color: $btn-blue1;
        }
    }

    .header-btns {
        & * {
            text-decoration: none;
            letter-spacing: .03em;
        }

        .login-btn {
            text-decoration: none;
            margin: 0;
            width: rem(101.81px);
            color: $card-title;
            background-color: #fff;
            font-size: rem(19.2px);
            padding: rem(8px) rem(24px);
        }

        .try-btn {
            margin: 0;
            background-color: $btn-blue;
            color: #fff;
            font-size: rem(19.2px);
            padding: rem(8px) rem(24px);
            width: rem(204px);

            &:hover {
                background-color: $atlassian;
            }
        }

    }

}