.board-header {
  padding: 12px 10px 12px 16px;
  background-color: $board-header-background-transparent;
  flex-wrap: wrap;

  h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    color: #fff;
    padding: 0 10px;
  }

  li {
    gap: rem(5px);

    svg {
      color: #fff;
      width: rem(16px);
      height: rem(16px);
    }

    .btn-star {
      a {
        padding: rem(6px);

        svg:hover {
          scale: 1.2;
        }
      }
    }

    .star-empty {
      width: rem(18px);
      height: rem(14px);
      stroke-width: rem(1px);
    }

    .star-fill {
      width: rem(18px);
      height: rem(14px);
      stroke-width: rem(1px);
    }

    a {
      color: #fff;
      text-decoration: none;
      gap: rem(5px);
      height: rem(32px);
      border-radius: rem(3px);
      padding: rem(6px) rem(12px);
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.14);
      }
    }

    .btn-fill {
      a {
        padding: rem(6px) rem(12px);
        background-color: $button-board-header;
        display: flex;
        align-items: center;
        color: $card-title;
        border-radius: rem(3px);
        height: rem(32px);

        &:hover {
          background-color: #fff;
        }
      }

      svg {
        color: $card-title;
      }
    }

    button {
      font-size: rem(14px);
    }

    button:not(.board-members) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
    }

    .btn-more {
      a {
        svg {
          width: rem(20px);
          height: rem(20px);
        }

        padding: rem(6px);
      }
    }

    span {
      width: rem(1px);
      color: #ffffff4f;
      font-weight: 100;
    }
  }
}
