.board-header-container {
  position: relative;

  .blur-header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    backdrop-filter: blur(4px);
    filter: brightness(95%);
    background-color: #9e9e9e4e;
  }

  .board-header {
    height: max-content;
    gap: rem(6px);
    padding: rem(6px) rem(6px) rem(6px) rem(6px);
    background-color: $board-header-background-transparent;
    flex-direction: row;
    // justify-content: flex-start;
    z-index: -1;
    transition: 0.1s ease-in;

    @include for-narrow-layout {
      padding: rem(12px) rem(12px) rem(12px) rem(16px);
      height: rem(56px);
      flex-direction: row;
      justify-content: space-between;
    }

    // @include for-wide-layout {
    //   height: rem(56px);
    //   flex-direction: row;
    // }

    &.is-show-menu {
      margin-inline-end: rem(339px);
    }

    & > * {
      z-index: 10;
      height: rem(32px);
    }

    li {
      gap: rem(4px);

      @include for-narrow-layout {
        .board-name {
          input[type='text'] {
            padding: 0;
          }
        }
      }

      .board-name {
        input[type='text'] {
          background-color: transparent;
          border: none;
          height: rem(32px);
          border-radius: 3px;
          padding-inline-start: rem(10px);
          cursor: pointer;

          font-family: $font-input;
          font-size: rem(18px);
          font-weight: bold;
          text-align: start;
          line-height: rem(28px);
          color: #fff;

          &:hover {
            background-color: rgba(255, 255, 255, 0.14);
          }

          &:focus {
            color: $text;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px $input-focus;
            outline: none;
          }
        }
      }

      svg {
        color: #fff;
        width: rem(16px);
        height: rem(16px);
      }

      .btn-star {
        padding: rem(12px);

        svg:hover {
          scale: 1.2;
        }
      }

      .star-empty,
      .star-fill {
        width: rem(13px);
        stroke-width: rem(0.5px);
      }

      button {
        color: #fff;
        text-decoration: none;
        gap: rem(5px);
        height: rem(32px);
        border-radius: 3px;
        padding: rem(6px);
        display: flex;
        align-items: center;
        font-size: rem(14px);

        p {
          display: none;
        }

        @include for-mobile-layout {
          padding: rem(6px) rem(12px);
        }

        @include for-narrow-layout {
          p {
            display: block;
          }
        }

        .filter-icon {
          svg {
            color: #fff;
          }

          width: rem(16px);
        }

        &:not(.btn-fill) {
          background-color: transparent;
        }

        &:not(.board-members) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover:not(.btn-fill) {
            background-color: rgba(255, 255, 255, 0.14);
          }
        }
      }

      .members {
        padding-inline-start: rem(12px);
        display: flex;

        .member-img {
          width: rem(34px);
          padding: rem(4px);
          border-radius: 50%;
          margin-inline-start: rem(-10px);

          &:hover {
            filter: contrast(70%) brightness(120%);
          }
        }

        .mobile-more-members {
          margin-inline-start: rem(-4px);
          border-radius: 50%;
          height: 26px;
          width: 26px;
          align-self: center;
          font-size: rem(12px);
          // font-family: inherit;
          font-weight: 200;
          color: #fff;
          letter-spacing: -1px;
        }
      }

      .btn-more {
        svg {
          width: rem(20px);
          height: rem(20px);
        }

        padding: rem(6px);

        &.is-show-menu {
          display: none;
        }
      }

      span {
        width: rem(1px);
        color: #ffffff4f;
        font-weight: 100;
      }

      .btn-fill {
        padding: rem(6px) rem(12px);
        background-color: $button-board-header;
        display: flex;
        align-items: center;
        color: $card-title;
        border-radius: 3px;
        height: rem(32px);

        &:hover {
          background-color: #fff;
        }

        svg {
          color: $card-title;
        }
      }
    }
  }
}
