.board-menu {
    position: fixed;
    right: rem(-339px);
    top: rem(48px);
    width: rem(339px);
    height: 100%;
    background-color: $menu-bgc;
    z-index: 80;
    overflow-clip-margin: content-box;
    overflow: hidden;

    transition: .1s ease-in;

    box-shadow: 0px 8px 12px #091e4264, 0px 0px 0 #091e4264;

    &.is-show-menu {
        right: 0;
    }

    button {
        background-color: transparent;
    }

    hr {
        margin-block: rem(12px);
        border: none;
        border-block-end: 1px solid $card-input-hover;
    }

    .menu-main-content {
        .menu-content {

            padding: rem(12px) rem(6px) 0 rem(12px);

            li {
                flex-direction: row;
                padding-inline: rem(12px) rem(6px);
                border-radius: 3px;

                &>* {
                    font-family: $font-input;
                    font-weight: 600;
                    font-size: rem(14px);
                    color: $text-subtle;
                    display: flex;
                    flex-direction: row;
                    height: rem(32px);
                    align-items: center;
                    gap: rem(12px);

                    .board-activity,
                    .board-about {
                        height: rem(32px);
                        gap: rem(5px);

                        button {
                            width: 100%;
                            margin-inline-start: rem(10px);
                        }
                    }
                }

            }

            li {
                cursor: pointer;
            }

            li:hover {
                background-color: $close-icon-hover-light;
            }

            button {

                img,
                .board-bg-img {
                    width: rem(20px);
                    height: rem(20px);
                    border-radius: 3px;
                }

            }

            .board-activity {


                button {
                    img {
                        width: rem(17px);
                    }
                }
            }
        }
    }

    overflow-y: auto;

    &::-webkit-scrollbar {
        height: 100%;
        width: rem(10px);
    }

    &::-webkit-scrollbar-track {
        background: #091e4214;
        border-radius: 2em;
    }

    &::-webkit-scrollbar-thumb {
        background: $add-card;
        background-color: #cac7d3;
        border-radius: 2em;
    }

    &::-webkit-scrollbar-button {
        display: block;
        height: 100%;
    }
}