.board-preview:not(.new-board) {
  border-radius: 3px;
  width: rem(190.58px);
  height: rem(96px);
  background-color: rgb(222, 222, 222);
  cursor: pointer;
  position: relative;

  background-position: center;
  background-size: cover;


  .screen {
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    z-index: -1;
  }

  &:hover .screen {
    z-index: 2;
  }

  article {
    height: 100%;
    background-color: rgba(0, 0, 0, .37);
    border-radius: 3px;

    a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: block;
      position: absolute;
      z-index: 10;

      h4 {
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
          'Helvetica Neue', sans-serif;
        font-size: rem(16px);
        line-height: rem(20px);
        padding: rem(8px);
      }

      .star-fill {
        position: absolute;
        bottom: rem(11.5px);
        right: rem(12px);
        color: $yellow-subtle;
        width: rem(15px);
        height: rem(12px);
        transition: .2s ease-out;
        z-index: 10;

        &:hover {
          scale: 1.15;

          path {
            fill: none;
            stroke-width: rem(2px);
          }
        }
      }

      .star-empty {
        color: #fff;
        width: rem(15px);
        height: rem(12px);
        position: absolute;
        bottom: rem(11.5px);
        right: rem(-15px);
        opacity: 0;
        overflow-clip-margin: content-box;
        overflow: hidden;
        z-index: 10;
        transition: 0.2s ease-out;

        &:hover {
          scale: 1.15;
        }
      }

      &:hover .star-empty {
        opacity: 1;
        // bottom: rem(11.5px);
        right: rem(12px);
      }
    }
  }
}

.new-board {
  border-radius: 3px;
  width: rem(190px);
  height: rem(96px);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    filter: brightness(90%);
  }

  article {
    height: 100%;

    p {
      color: $card-title;
      font-size: rem(14px);
    }
  }
}