.board-preview:not(.new-board) {
  border-radius: 3px;
  width: 100%;
  height: rem(120px);
  background-color: rgb(222, 222, 222);
  cursor: pointer;
  position: relative;

  background-position: center;
  background-size: cover;

  @include for-narrow-layout {
    width: rem(190.58px);
    height: rem(96px);
  }

  .screen {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    z-index: -1;
  }

  &:hover .screen {
    z-index: 2;
  }

  article {
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;

    a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: block;
      position: absolute;
      z-index: 5;

      h4 {
        color: #fff;
        font-family: $font;
        font-size: rem(24px);
        line-height: rem(25px);
        padding: rem(8px);
        text-overflow: ellipsis;
        overflow: hidden;

        @include for-narrow-layout {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }

      .star-fill,
      .star-empty {
        position: absolute;
        width: rem(21px);
        height: rem(18px);
        bottom: rem(11.5px);
        z-index: 10;

        @include for-narrow-layout {
          width: rem(15px);
          height: rem(12px);
        }

        &:hover {
          scale: 1.15;
        }
      }

      .star-fill {
        right: rem(12px);
        color: $yellow-subtle;
        transition: .2s ease-out;
      }

      .star-empty {
        color: #fff;
        right: rem(-15px);
        opacity: 0;
        overflow-clip-margin: content-box;
        overflow: hidden;
        transition: 0.2s ease-out;
      }

      &:hover .star-empty {
        opacity: 1;
        right: rem(12px);
      }
    }
  }
}

.new-board {
  border-radius: 3px;
  width: 100%;
  height: rem(120px);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  @include for-narrow-layout {
    width: rem(190.58px);
    height: rem(96px);
  }

  &:hover {
    filter: brightness(90%);
  }

  article {
    height: 100%;

    p {
      color: $card-title;
      font-size: rem(20px);

      @include for-narrow-layout {
        font-size: rem(14px);
      }
    }
  }
}