.checkbox {
  position: relative;
  // padding-left: rem(35px);
  // margin-bottom: rem(12px);
  cursor: pointer;
  font-size: rem(22px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked, add a blue background */
    &:checked ~ .checkmark {
      background-color: $blue-bolder;
      box-shadow: none;
    }
  }

  &:hover {
    .checkmark {
      background-color: #ccc;
    }
  }

  .checkmark {
    height: rem(16px);
    width: rem(16px);
    box-shadow: inset 0 0 0 2px $button-hover;

    border-radius: rem(2px);
  }

  .check-icon {
    position: absolute;
    width: 14px;
    color: white;
  }
}
