.group-preview {
  max-height: 100%;
  width: rem(272px);
  margin-inline: 6px;
  border-radius: 12px;
  background-color: $card-preview;
  box-shadow: $card-shadow;
  header {
    padding: 7px 8px 8px;
    h3 {
      padding: rem(4px) rem(8px) rem(4px) 12px;
      font-size: inherit;
      font-weight: 600;
      cursor: pointer;
    }

    input {
      margin-block-start: -4px;
      padding: rem(4px) rem(8px) rem(4px) 12px;
      font-size: inherit;
      font-weight: 600;
      font-family: inherit;

      overflow: hidden;
      overflow-wrap: break-word;

      border-radius: 3px;

      border: none;
    }

    .group-options {
      border-radius: 3px;
      padding: 6px;
      height: 32px;
      width: 32px;

      &:hover {
        background-color: $card-input-hover;
      }
    }
  }

  .add-card-section {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    color: $small-titles;

    .add-card {
      border-radius: 8px;
      margin: 8px 0 8px 8px;
      padding: 4px 8px 4px 6px;
      cursor: pointer;

      .icon {
        margin-inline-end: 6px;
        margin-block-end: 1px;
      }

      label {
        cursor: pointer;
      }

      &:hover {
        background-color: $card-input-hover;
      }
    }

    .card-from-template-button {
      margin-inline-end: 8px;
      height: 32px;
      width: 32px;
      border-radius: 8px;
      &:hover {
        background-color: $card-input-hover;
      }
      .card-from-template-icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  .add-card-form {
    margin: 7px 4px;
    padding: 1px 4px;
    margin-block-end: 7px;

    .text-container {
      margin-block-end: 7px;
      padding: 8px 8px 4px 12px;

      box-shadow: $card-shadow;
      border-radius: 8px;

      background-color: #fff;

      textarea {
        width: 100%;
        max-height: 162px;

        resize: vertical;

        border: none;

        font-family: inherit;
        font-size: inherit;
        color: inherit;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
