.group-list {
  margin-block: rem(12px) rem(8px);
  padding-inline-start: rem(16px);
  padding-block-end: rem(8px);

  flex-grow: 1;

  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: rem(12px);
    width: rem(10px);
  }
  &::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: $add-card;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: rem(1px);
    width: rem(25px);
  }
}
