.group-preview {
  max-height: 100%;
  width: rem(272px);
  margin-inline: rem(6px);
  border-radius: 12px;
  background-color: $card-preview;
  box-shadow: $card-shadow;
  position: relative;

  header {
    padding: rem(7px) rem(8px) rem(8px);

    h3 {
      padding: rem(4px) rem(8px) rem(4px) rem(12px);
      font-size: inherit;
      font-weight: 600;
      cursor: pointer;
    }

    form {
      flex-grow: 1;

      input {
        margin-block-start: rem(-4px);
        padding: rem(4px) rem(8px) rem(4px) rem(12px);
        width: 100%;
        font-size: inherit;
        font-weight: 600;
        font-family: inherit;

        overflow: hidden;
        overflow-wrap: break-word;

        border-radius: 3px;

        border: none;

        &:focus {
          outline: none;
          box-shadow: inset 0 0 0 2px #388bff;
        }
      }
    }

    .group-options {
      border-radius: 3px;
      padding: rem(6px);
      height: rem(32px);
      width: rem(32px);
      background-color: transparent;
      color: $text-subtle;

      &:hover {
        background-color: $card-input-hover;
      }
    }
  }

  .add-card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: rem(44px);
    border-radius: rem(12px);
    color: $small-titles;
    max-height: revert;
    min-height: revert;
    position: sticky;
    background-color: $-gray-subtlest;
    bottom: 0;

    .add-card {
      border-radius: rem(8px);
      margin: rem(8px) 0 rem(8px) rem(8px);
      padding: rem(3px) rem(8px) rem(3px) rem(9px);
      flex: 1;
      transition: .1s ease-out;
      cursor: pointer;

      .icon {
        margin-inline-end: rem(9px);
        margin-block-end: rem(1px);
      }

      label {
        cursor: pointer;
      }

      &:hover {
        background-color: $card-input-hover;
      }
    }

    .card-from-template-button {
      margin-inline-end: rem(8px);
      height: rem(32px);
      width: rem(32px);
      border-radius: 8px;
      padding: rem(6px);
      transition: .1s ease-out;
      background-color: transparent;

      &:hover {
        background-color: $card-input-hover;
      }

      img {
        width: rem(16px);
      }
    }
  }

  .add-card-form {
    margin: rem(7px) rem(4px);
    padding: rem(1px) rem(4px);
    margin-block-end: rem(7px);

    .text-container {
      margin-block-end: rem(7px);
      padding: rem(8px) rem(8px) rem(4px) rem(12px);

      box-shadow: $card-shadow;
      border-radius: 8px;

      background-color: #fff;

      textarea {
        width: 100%;
        max-height: rem(162px);

        resize: vertical;

        border: none;

        font-family: inherit;
        font-size: inherit;
        color: inherit;

        &:focus {
          outline: none;
        }
      }
    }
  }
}