.task-details-screen {
  position: fixed;
  bottom: 0;
  overflow-y: auto;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  justify-items: center;
  align-items: start;
  padding: rem(48px) 0 24rem;

  .task-details {
    // top: 0;
    // left: 0;
    // z-index: 1;
    // transform: translate(calc(50vw - 50%));
    background-color: $menu-bgc;
    border-radius: 8px;
    margin-block-end: rem(80px);
    width: rem(768px);
    min-height: rem(600px);
    position: relative;

    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      margin: rem(4px);
      padding: rem(4px);
      height: rem(40px);
      width: rem(40px);
      border-radius: 50%;

      background-color: unset;
      color: $small-titles;

      z-index: 200;

      .close-icon {
        height: 20px;
        width: 20px;

        border-radius: 50%;
        color: $small-titles;
      }

      transition: background-color 85ms, color 85ms;

      &:hover {
        background-color: $button-hover;
      }
    }

    .task-details-container {
      padding-block: rem(16px);
      padding-inline-start: rem(16px);
      display: grid;
      grid-template-columns: rem(560px) rem(192px);

      .card-details-container {
        padding-inline-end: rem(8px);
        grid-column: 1;
        gap: rem(6px);
      }
    }
  }
}
