.task-preview {
  min-height: 20px;

  box-shadow: $card-shadow;

  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;

  .preview-cover {
    height: 32px;
  }

  .preview-container {
    padding: 8px 8px 4px 12px;
    background-color: #fff;
    &:hover {
      background-color: $card-preview;
    }
  }

  h4 {
    font-weight: 400;
    margin-block-end: 4px;
  }
}
