.task-details-screen {
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  z-index: 100;

  .backdrop {
    background-color: #000000a3;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  &,
  .backdrop {
    left: 0;
    right: 0;
    top: 0;
  }

  .task-details {
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(calc(50vw - 50%));
    background-color: #f0f2f4;
    border-radius: 8px;
    margin-block-end: rem(48px);
    width: rem(768px);
    min-height: rem(600px);
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translate(-50%);

    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      margin: rem(4px);
      padding: rem(4px);
      height: rem(40px);
      width: rem(40px);
      border-radius: 50%;

      background-color: unset;
      color: $small-titles;

      z-index: 200;

      .close-icon {
        height: 20px;
        width: 20px;

        border-radius: 50%;
        color: $small-titles;


      }

      transition: background-color 85ms,
      color 85ms;

      &:hover {
        background-color: $button-hover;
      }
    }



    .task-details-container {
      padding-block: rem(16px);
      padding-inline-start: rem(16px);
      display: grid;
      grid-template-columns: rem(560px) rem(192px);

      .card-details-container {
        grid-column: 1;
        gap: rem(6px);

      }


    }
  }
}