.task-preview {
  min-height: rem(20px);
  box-shadow: $card-shadow;

  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;

  .preview-cover {
    height: rem(32px);

    &.full {
      min-height: rem(56px);
    }

    h4 {
      padding: rem(8px) rem(8px) rem(4px) rem(12px);
      align-self: flex-end;
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(20px);
    }
  }

  .preview-container {
    padding: rem(8px) rem(8px) rem(4px) rem(12px);
    background-color: #fff;

    &:hover {
      background-color: $card-preview;
    }

    .labels {
      flex-wrap: wrap;
      gap: rem(4px);
      margin-bottom: rem(4px);

      li {
        height: max-content;

        button {
          min-width: rem(40px);
          height: rem(8px);
          padding-inline: rem(8px);

          font-weight: 500;
          font-size: rem(12px);
          font-family: inherit;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          border-radius: 4px;

          color: inherit;

          transition: width, height 0.3s;

          &:hover {
            filter: saturate(85%) brightness(85%);
          }
        }

        &.open {
          button {
            padding-block-end: rem(2px);
            min-width: rem(56px);
            max-width: rem(88px);
            height: 18px;
          }
        }
      }
    }

    .task-indicators {
      .indicators {
        min-height: rem(20px);
        color: $text-subtle;

        display: flex;
        align-items: center;
      }
    }
  }

  h4 {
    font-weight: 400;
    margin-block-end: rem(4px);
  }
}
