img {
  display: inline-block;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  padding: rem(4px);

  &.small {
    width: rem(32px);
    height: rem(32px);
  }

  &.medium {
    width: rem(34px);
    height: rem(34px);
  }

  &:hover {
    background-color: $icon-hover;
    border-radius: 50%;
  }
}