img.user-img{
  display: inline-block;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: rem(4px);
  cursor: pointer;

  &.small {
    width: rem(32px);
    height: rem(32px);
  }

  &.medium {
    width: rem(34px);
    height: rem(34px);
  }

  &.hover:hover {
    background-color: $icon-hover;
    border-radius: 50%;
  }
}