.show-task-details {
  padding-inline: rem(40px);
  padding-block-start: rem(9px);
  margin-block-end: rem(16px);
  display: flex;
  flex-wrap: wrap;
  min-height: rem(72px);

  gap: rem(15px);

  .members-wrapper {
    h5 {
      font-weight: 500;
      letter-spacing: 0.2px;
    }

    .members {
      display: flex;
      padding-block-start: rem(3px);
      gap: rem(4px);

      img {
        width: rem(32px);
        height: rem(32px);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          filter: contrast(70%) brightness(120%);
        }
      }

      .add-member {
        width: rem(32px);
        height: rem(32px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #091e420f;
        transition: 0.2s ease-in-out;

        svg {
          width: rem(16px);
          height: rem(16px);
          color: $text;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }

  .labels-wrapper {
    max-width: 70%;

    h5 {
      font-weight: 500;
      letter-spacing: 0.2px;
      margin-block-end: rem(4px);
    }

    .labels-container {
      gap: 4px;
      flex-wrap: wrap;

      .labels-list {
        gap: 4px;
        flex-wrap: wrap;

        .label-btn {
          min-width: rem(68px);
          max-width: rem(122px);
          height: rem(32px);
          padding-inline: 12px;

          background-color: $logic-button-bgc;
          color: $text;
          font-family: $font;
          font-size: rem(14px);
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          border-radius: 3px;

          &:hover {
            filter: saturate(85%) brightness(85%);
          }
        }
      }

      .add-label {
        width: rem(32px);
        height: rem(32px);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #091e420f;
        transition: 0.2s ease-in-out;

        svg {
          width: rem(16px);
          height: rem(16px);
          stroke-width: 0.5px;
          color: $text;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }

  .date-wrapper {
    h5 {
      font-weight: 500;
      letter-spacing: 0.2px;
      margin-block-end: rem(4px);
    }

    button {
      padding: rem(6px) rem(12px);
      margin-inline-start: rem(4px);
      border-radius: 3px;
      background-color: $close-icon-hover-light;
      font-family: inherit;

      gap: rem(4px);

      transition-property: background-color, border-color, box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;

      label {
        font-size: rem(14px);
        line-height: rem(20px);
        color: $text;
      }

      .complete {
        color: #ffffff;
        background-color: $green-bolder;
        font-size: rem(12px);
        line-height: rem(16px);
        padding: 0 4px;
        border-radius: 2px;
        margin-inline-start: rem(6px);
      }

      &:hover {
        background-color: $button-hover;
      }
    }
  }
}