.task-header {
    padding: rem(23px) rem(40px) rem(8px) rem(16px);

    .title-img {
        width: rem(32px);
        display: flex;
        padding-inline-start: rem(2px);

        .card-title-img {
            width: rem(24px);
            height: rem(25px);
            padding: rem(3px);
            color: $gray-bolder;
        }
    }

    .task-title {
        display: flex;
        flex-direction: column;
        padding-inline-start: rem(5px);

        h1 {
            line-height: 1.25em;
            margin-block-end: rem(7px);
            font-size: rem(20px);
            font-weight: 500;
        }

        p {
            color: $small-titles;
            line-height: 1em;
            padding-inline-start: rem(3px);

            a {
                color: $small-titles;
                text-decoration: underline;
            }
        }
    }
}