.task-attachments {
    margin-block-end: rem(24px);

    .attachment-title {
        height: rem(37px);
        margin-block-end: rem(4px);
        gap: rem(12px);

        img {
            width: rem(24px);
            height: rem(24px);
            margin-inline-start: rem(2px);
        }

        h3 {
            font-size: rem(16px);
            font-weight: 600;
        }
    }
}