.task-cover {
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  height: rem(116px);
  position: relative;

  .cover-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: rem(12px);
    position: absolute;
    bottom: 0;
    width: 100%;

    button {
      background-color: transparent;
      width: rem(77.61px);
      height: rem(32px);
      gap: rem(5px);

      .box-icon {
        width: rem(16.36px);
        height: rem(16.01px);
        padding: rem(2px);
        color: $text-subtle;
        mix-blend-mode: multiply;
      }

      &:hover {
        border-radius: 3px;
        background-color: $button-hover;
      }

      p {
        margin-block-end: rem(1px);
        color: $card-title;
        font-family: $font;
        font-size: rem(14px);
      }
    }
  }
}