* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;

  // &::-webkit-scrollbar {
  //   height: 100%;
  //   width: rem(12px);
  //   border-radius: 2em;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #091e4214;
  //   border-radius: 2em;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: $add-card;
  //   background-color: #cac7d3;
  //   border-radius: 2em;
  // }

  // &::-webkit-scrollbar-button {
  //   display: block;
  //   height: 100%;
  // }
}

body {
  font-size: rem(18px);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
label {
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $close-icon-hover-light;
  color: $text;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  cursor: pointer;

  padding: rem(6px) rem(12px);
  height: rem(32px);

  transition: 0.05s ease-in-out;

  &:hover {
    background-color: $button-hover;
  }
}

.delete-btn {
  background-color: $btn-red;
  color: #ffffff;
  margin-block-start: rem(8px);
  padding: rem(6px) rem(12px);
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $btn-red-hover;
  }
}

.input {
  padding: rem(8px) rem(12px);
  width: 100%;

  color: $text;
  font-size: rem(14px);
  line-height: rem(20px);

  box-shadow: inset 0 0 0 2px var(--ds-border-input, $button-board-header);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;

  outline: none;
  border: none;
  border-radius: 3px;

  &:focus {
    box-shadow: inset 0 0 0 2px $input-focus;
  }

  &::placeholder {
    color: $text;
  }
}

.dark-background {
  color: #fff;
}

.dark-background-bgc {
  background-color: #fff;
}

.light-background {
  >* {
    color: rgba(62, 62, 62, 0.85);
    mix-blend-mode: multiply;
  }
}

.light-background-bgc {
  >* {
    background-color: rgba(62, 62, 62, 0.85);
    mix-blend-mode: multiply;
  }
}