button {
  border: none;
  cursor: pointer;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}
.btn-link:hover {
  transform: scale(1.1);
}
