.home {


  .home-first-container {
    background: url('//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg') center bottom -0.5px / 100% 14.6% no-repeat scroll padding-box border-box,
      linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

    //   background-size: 173%;
    // background-position: 7% bottom;

    font-family: charlie-regular;
    margin-block-end: rem(21px);

    .home-container {
      max-width: rem(1137px);
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .home-txt {
        width: rem(500px);
        flex: 0 0 auto;
        color: #fff;
        padding: rem(91px) rem(7px);

        .txt-opening {
          line-height: 1.25;
          font-size: rem(48px);
          margin-block-end: rem(8px);
          font-family: charlie-semibold;
          letter-spacing: rem(-2.7px);
        }

        .txt-opening-p {
          line-height: 1.5;
          letter-spacing: rem(1.05px);
          font-size: rem(20px);
          margin-block-end: rem(42px);
          font-weight: 400;
        }

        .signup-btn {
          font-family: inherit;
          text-decoration: none;
          margin: 0;
          height: rem(49.99px);
          background-color: $btn-blue;
          padding: rem(11.2px) rem(16px) rem(12.8px);
          border: rem(1px) solid $btn-blue;
          border-radius: 4.8px;
          font-size: rem(20px);
          width: 100%;
          transition: 0.2s ease-in-out;
          color: #fff;

          &:hover {
            background-color: $default-blue;
            border-color: $default-blue;
          }

          a {
            color: #fff;
            text-decoration: none;
            font-family: inherit;
          }

          @include for-wide-layout {
            font-size: rem(16px);
            width: fit-content;
          }
        }
      }

      .home-img {
        padding-block-start: rem(114px);
        display: flex;
        margin-inline-end: rem(-20px);
        padding-inline: rem(40px);

        img {
          max-width: rem(528px);
          height: 80%;

          @include for-wide-layout {
            height: auto;
            scale: 1.2;
          }
        }
      }

      @include for-wide-layout {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 0;
        text-align: left;
      }

    }
  }

  .productivity-container {
    font-family: charlie-regular;
    color: $home-text;
    margin-inline: auto;
    padding-inline: rem(9px);
    max-width: 1140px;

    .productivity-text-container {
      order: 1;
      flex: 0 0 auto;
      padding: rem(40px);

      @include for-wide-layout {
        padding-inline: 0;
        max-width: rem(664px);
      }

      .productivity-header {

        .krallo-101 {
          font-family: charlie-semibold;
          margin-block-end: rem(1px);
          font-size: rem(16px);
          color: $home-text;
        }

        h2 {
          font-size: rem(36px);
          font-family: charlie-semibold;
          letter-spacing: rem(-1.75px);
          margin-block-end: rem(17px);
          color: $home-text;
        }
      }

      .productivity-text {
        padding-inline-end: rem(50px);

        p {
          font-family: inherit;
          font-size: rem(20px);
          letter-spacing: rem(.95px);
          line-height: rem(30px);
          color: #091E42;
        }
      }
    }
  }
}