.home {

  .home-first-container {
    background: url('//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg') center bottom -0.5px / 100% 14.6% no-repeat scroll padding-box border-box,
      linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

    font-family: charlie-regular;
    margin-block-end: rem(21px);
    padding-block-start: rem(68px);

    .home-container {
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include for-narrow-layout {
        max-width: rem(1137px);

      }

      .home-txt {
        flex: 0 0 auto;
        color: #fff;
        padding: rem(60px) rem(19px);

        .txt-opening {
          line-height: 1.25;
          font-size: rem(38px);
          margin-block-end: rem(8px);
          font-family: charlie-semibold;
          letter-spacing: rem(-2.7px);

          @include for-normal-layout {
            font-size: rem(48px);
          }
        }

        .txt-opening-p {
          font-size: rem(18px);
          line-height: normal;
          letter-spacing: normal;
          margin-block-end: rem(42px);
          font-weight: 400;

          @include for-normal-layout {
            font-size: rem(20px);
            line-height: 1.5;
            letter-spacing: rem(1.05px);
          }
        }

        .signup-btn {
          font-family: inherit;
          text-decoration: none;
          margin: 0;
          height: rem(49.99px);
          background-color: $btn-blue;
          padding: rem(11.2px) rem(16px) rem(12.8px);
          border: rem(1px) solid $btn-blue;
          border-radius: 4.8px;
          font-size: rem(20px);
          width: 100%;
          transition: 0.2s ease-in-out;
          color: inherit;

          &:hover {
            background-color: $default-blue;
            border-color: $default-blue;
          }

          a {
            text-decoration: none;
            font-family: inherit;
          }

          @include for-wide-layout {
            font-size: rem(16px);
            width: fit-content;
          }
        }

        @include for-narrow-layout {
          padding: rem(60px) rem(15px);
          max-width: rem(720px);
        }

        @include for-wide-layout {
          padding: rem(91px) rem(7px);
          max-width: rem(500px);
        }
      }

      .home-img {
        display: flex;
        padding-inline: rem(40px);

        img {
          max-width: 100%;
          margin: auto;

          @include for-narrow-layout {
            max-width: 60%;
          }

          @include for-wide-layout {
            height: auto;
            scale: 1.2;
            height: 80%;
            max-width: rem(528px);
          }
        }

        @include for-wide-layout {
          padding-block-start: rem(114px);
          margin-inline-end: rem(-20px);
        }
      }

      @include for-wide-layout {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 0;
        text-align: left;
      }

    }
  }

  .bg-color-productivity {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    background-blend-mode: normal;

    .productivity-container {
      font-family: charlie-regular;
      color: $home-text;
      margin-inline: auto;
      padding-inline: rem(9px);
      max-width: rem(1140px);

      @include for-wide-layout {
        height: rem(254px);
      }

      .productivity-text-container {
        order: 1;
        flex: 0 0 auto;
        padding: rem(10px);

        @include for-wide-layout {
          padding-inline: 0;
          max-width: rem(664px);
        }

        .productivity-header {

          .krallo-101 {
            font-family: charlie-semibold;
            margin-block-end: rem(1px);
            font-size: rem(12px);
            color: $home-text;

            @include for-normal-layout {
              font-size: rem(16px);
            }
          }

          h2 {
            font-size: rem(28px);
            font-family: charlie-semibold;
            letter-spacing: rem(-1.75px);
            margin-block-end: rem(17px);
            color: $home-text;
            line-height: rem(35px);

            @include for-normal-layout {
              font-size: rem(36px);
              line-height: normal;
            }
          }
        }

        .productivity-text {
          padding-inline-end: rem(50px);

          p {
            font-family: inherit;
            font-size: rem(16px);
            color: #091E42;

            @include for-narrow-layout {
              max-width: rem(700px);
              font-size: rem(20px);
              letter-spacing: rem(.95px);
              line-height: rem(30px);
            }
          }
        }
      }
    }
  }
}