.home {
        background: url("//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

    // .wave {

    //     display: block;
    //     position: relative;
    //     height: 40px;
    //     width: 100%;
    //     background: url(//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    //     background-blend-mode: normal, normal;
    //     transform: scale(1, 1);
    // }

    // .wave:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     border-radius: 100%;
    //     width: 100%;
    //     height: 300px;
    //     background-color: white;
    //     right: 25%;
    //     top: 20px
    // }

    // .wave:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     border-radius: 100%;
    //     width: 100%;
    //     height: 300px;
    //     background: url(//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    //     background-blend-mode: normal, normal;
    //     left: 25%;
    //     top: -240px;
    //     clip-path: ellipse(100% 15% at -15% 100%);
    // }

    .home-container {
        // max-width: 1140px;
        margin-inline: rem(129px);
    }

    .home-img{
        padding: rem(128px) rem(16px)rem(0px);
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .home-txt {
        width: 50%;
        flex: 0 0 auto;
        color: #ffff;
        padding: rem(128px) rem(16px);
    }

    .txt-opening {
        font-size: rem(48px);
        margin-block-end: rem(8px);
    }

    .txt-opening-p {
        font-size: rem(20px);
        margin-block-end: rem(24px);
        font-weight: 700;
    }

    .signup-btn {
        margin: 0;
        height: rem(49.99px);
        width: rem(380px);
        background-color: $btn-blue;
        padding: rem(11.2px) rem(16px) rem(12.8px);
        border: rem(1px) solid $btn-blue;
        color: #fff;
        border-radius: rem(4.8px);
        font-size: rem(16px);
    }



}