.workspaces {
  max-width: rem(1104px);
  padding-block-start: rem(47px);
  padding-inline: rem(47px);
  margin: auto;

  .all-boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(45px);
  }
}