.workspaces {
    max-width: 1038px;
    padding-block-start: 47px 0 40px;
    margin: auto;

    .all-boards {

        .starred-boards {
            &:first-of-type {
                padding-block-start: rem(47px);
            }

            gap: rem(10px);
            padding: 0;

            .title {
                padding-inline-start: rem(18px);
                padding-block-end: rem(11px);
                color: rgb(23, 43, 77);
                align-items: center;

                h1 {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 700;
                    margin: 0;
                    line-height: rem(24px);
                }

                .title-icon {
                    width: rem(24px);
                    height: rem(24px);
                    margin: rem(8px);
                    margin-inline-start: 0;
                    color: #42526e;
                }

            }

            .boards-container {
                .board-list {

                    .starred-board-list {
                        gap: rem(14.25px);
                        padding-inline-start: rem(14px);
                        margin-block-end: rem(52px);

                        li:not(.new-board) {
                            border-radius: rem(3px);
                            width: rem(190px);
                            height: rem(96px);
                            background-color: rgb(222, 222, 222);
                            cursor: pointer;
                            position: relative;
                            // flex-grow: 1;
                            background-image: linear-gradient(rgba(34, 34, 34, 0.6),
                                    rgba(34, 34, 34, 0.6));
                            background-position: center;
                            background-size: cover;
                            transition: .2s ease-in-out;

                            &:hover {
                                filter: brightness(90%);
                            }

                            article {
                                height: 100%;

                                a {

                                    height: 100%;
                                    text-decoration: none;
                                    display: block;

                                    h4 {
                                        color: #fff;
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: rem(16px);
                                        line-height: 20px;
                                        padding: rem(8px);
                                    }

                                    .star-fill {
                                        position: absolute;
                                        bottom: rem(10px);
                                        right: rem(15px);
                                        color: #f2d600;
                                        width: rem(15px);
                                        height: rem(14px);
                                        transition: .2s ease-out;

                                        &:hover {
                                            scale: 1.15;
                                            stroke-width: rem(1px);
                                        }
                                    }

                                    .star-empty {
                                        color: #fff;
                                        width: rem(15px);
                                        height: rem(14px);
                                        position: absolute;
                                        bottom: rem(10px);
                                        right: rem(-15px);
                                        opacity: 0;
                                        overflow-clip-margin: content-box;
                                        overflow: hidden;
                                        transition: .2s ease-out;

                                        &:hover {
                                            scale: 1.15;
                                        }
                                    }

                                    &:hover .star-empty {
                                        opacity: 1;
                                        bottom: rem(10px);
                                        right: rem(15px);
                                    }
                                }
                            }
                        }

                        .new-board {
                            border-radius: rem(3px);
                            width: rem(190px);
                            height: rem(96px);
                            background-color: rgb(244, 244, 244);
                            cursor: pointer;
                            transition: .2s ease-in-out;

                            &:hover {
                                filter: brightness(90%);
                            }

                            article {
                                height: 100%;

                                p {
                                    color: $card-title;
                                    font-size: rem(14px);

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}