.checklist {
    margin-block-end: rem(24px);

    .checklist-title-container {
        margin: 0 0 rem(4px) rem(40px);
        padding-block: rem(8px);
        position: relative;

        span {
            left: rem(-33px);
            position: absolute;
            top: rem(12px);

            svg {
                width: rem(20px);
                height: rem(21px);
            }
        }

        .checklist-title {
            align-items: center;
            flex-flow: row wrap;
            justify-content: space-between;

            h3 {
                min-height: 18px;
                min-width: 40px;
                width: auto;
                color: $text;

                cursor: pointer;

                overflow: hidden;
                text-overflow: ellipsis;

                line-height: 20px;
                font-size: 16px;
                font-weight: 600;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            }

            form {
                width: 100%;

                textarea {
                    background-color: #ffff;
                    color: $text;
                    height: 54px;
                    resize: none;
                    padding: rem(8px) rem(12px);
                    overflow: hidden;
                    overflow-wrap: break-word;

                    font-size: 16px;
                    line-height: rem(19px);
                    font-weight: 500;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                    font-weight: 700;

                    box-shadow: inset 0 0 0 1px #091E4224;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                }

                .textarea-btns {
                    gap: rem(8px);

                    .save {
                        background-color: $btn-blue;
                        color: #fff;

                        &:hover {
                            background-color: $btn-blue-hover;
                        }
                    }

                    .x-btn {
                        display: flex;
                        align-items: center;
                        color: #44546F;
                        font-size: 24px;
                        line-height: 32px;

                        &:hover {}

                        path {
                            stroke-width: 0.4px;
                        }
                    }
                }
            }

            .checklist-title-btns {
                flex: 1;
                justify-content: end;

                .btns {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: rem(6px) rem(12px);

                    background-color: #091E420F;
                    color: $text;

                    border: none;
                    border-radius: 3px;

                    font-size: rem(14px);
                    font-weight: 400;
                    line-height: rem(20px);
                    text-decoration: none;
                    transition-duration: 85ms;
                    transition-property: background-color, border-color, box-shadow;
                    transition-timing-function: ease;
                    white-space: normal;

                    &:hover {
                        background-color: #091E4224;
                        color: inherit;
                    }

                    &.hide-checked-btn {
                        margin-inline-end: rem(8px);
                    }

                    &.delete {
                        margin: 0;
                    }
                }
            }
        }
    }


    .checklist-add-btn {
        margin-block-start: rem(12px);
        background-color: #091E420F;
        border: none;
        border-radius: 3px;
        color: $text;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        font-size: rem(14px);
        line-height: rem(20px);
        padding: rem(6px) rem(12px);
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        white-space: normal;

        &:hover {
            background-color: #091E4224;
            color: $text;
        }
    }

}