.todo-container {
    border-radius: rem(4px);
    clear: both;
    padding-left: rem(40px);
    position: relative;
    transform-origin: left bottom;
    transition-duration: 0.3s;
    transition-property: transform, opacity, height, padding, margin, background-color;
    transition-timing-function: ease-in;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #091E420F;

        .x-container .x-mark {
            display: block;
        }
    }

    .checkbox {
        background-color: #fafbfc;
        border-radius: rem(2px);
        box-shadow: inset 0 0 0 rem(2px) #dfe1e6;
        cursor: pointer;
        flex-shrink: 0;
        height: rem(16px);
        width: rem(16px);
        margin: rem(6px);
        overflow: hidden;
        position: absolute;
        left: 0;
        text-align: center;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;

        &:hover {
            background-color: #F7F8F9;
            box-shadow: inset 0 0 0 2px #091E4224;
        }

        &.checked {
            opacity: 1;
        }
    }
}

.todo {
    display: inline-flex;
    padding: rem(6px) 0;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;

    .todo-title {
        align-self: center;
        flex: 1;
        margin-bottom: 0;
        min-height: 20px;
        text-align: left;

        &.done {
            color: $text-subtle;
            text-decoration: line-through;
        }
    }

    .x-container {
        position: relative;

        .x-mark {
            border-radius: 3px;
            padding: 2px;
            background-color: transparent;
            height: 24px;
            margin-left: 4px;
            min-width: 24px;
            display: none;
            position: absolute;
            right: rem(8px);
        }
    }
}

.todo-container-form {
    border-radius: rem(4px);
    clear: both;
    padding-left: rem(40px);
    position: relative;
    transform-origin: left bottom;
    transition-duration: 0.3s;
    transition-property: transform, opacity, height, padding, margin, background-color;
    transition-timing-function: ease-in;
    padding-block-end: rem(5px);

    &:hover {
        background-color: #091E420F;

    }

    .checkbox {
        background-color: #fafbfc;
        border-radius: rem(2px);
        box-shadow: inset 0 0 0 rem(2px) #dfe1e6;
        cursor: pointer;
        flex-shrink: 0;
        height: rem(16px);
        left: 0;
        margin: rem(6px);
        overflow: hidden;
        position: relative;
        position: absolute;
        text-align: center;
        top: rem(5px);
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        width: rem(16px);

        &:hover {
            background-color: #F7F8F9;
            box-shadow: inset 0 0 0 2px #091E4224;
        }

        &.checked {
            opacity: 1;
        }
    }

    form {
        textarea {
            overflow-wrap: break-word;
            height: rem(56px);
            background-color: #fff;
            color: $text;
            cursor: text;
            float: none;
            resize: none;
            width: 100%;
            padding: rem(8px) rem(12px) rem(9px);
            border: none;
            border-radius: rem(3px);
            margin-block-start: rem(10px);
            font-family: $font;
            font-size: 14px;
            font-weight: 400;
            box-shadow: inset 0 0 0 1px #091E4224;
        }

        .textarea-btns {
            margin-block-start: rem(4px);
            gap: rem(8px);

            .save {
                background-color: $btn-blue;
                color: #fff;

                &:hover {
                    background-color: $btn-blue-hover;
                }
            }

            .x-btn {
                display: flex;
                align-items: center;
                color: #44546F;
                font-size: 24px;
                line-height: 32px;
                background-color: transparent;

                path {
                    stroke-width: 0.4px;
                }
            }
        }
    }
}