.menu-about {
    padding: rem(12px) rem(6px) rem(8px) rem(12px);

    .admin-details {
        margin-inline-start: rem(4px);
        gap: rem(10px);

        .admin-name {
            align-items: start;

            h1 {
                font-weight: 600;
                line-height: rem(16px);
            }

            p {
                line-height: rem(24px);
                color: $small-titles;
            }
        }
    }
}