.photos-list,
.colors-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(8px);
  grid-auto-rows: max-content;
  grid-auto-flow: dense;
  height: calc(100% - 98px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: rem(8px) rem(8px) rem(8px) rem(16px);
  // margin-inline-end: rem(3px);

  .cover-photos-list & {
    padding: 0;
    padding-block: rem(4px);
    height: unset;
    grid-template-columns: repeat(3, 1fr);

    li {
      height: rem(48px);
      width: rem(88px);
    }
  }

  li {
    height: rem(96px);
    cursor: pointer;
    position: relative;

    .bg-img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      position: relative;

      a {
        opacity: 0;
        width: rem(148.5px);
      }

      &:hover {
        filter: opacity(80%);

        a {
          opacity: 1;
          max-width: 100%;
          height: rem(20px);
          border-radius: 0 0 8px 8px;
          line-height: rem(12px);
          padding: rem(2px) rem(4px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5);
          text-decoration: underline;
          position: absolute;
          bottom: 0;
          z-index: 10;

          &:hover {
            background-color: rgba(0, 0, 0, 0.16);
          }
        }
      }

      .emoji {
        position: absolute;
        left: rem(10px);
        bottom: rem(16px);
        vertical-align: text-bottom;
        width: rem(18px);
        height: rem(18px);
        text-shadow: $text-shadow;
      }

      .selected-img {
        color: #fff;
        font-size: rem(15px);
        text-shadow: $text-shadow;
        z-index: 80;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: rem(-12px) 0 0 rem(-12px);
        width: rem(24px);
        height: rem(24px);
      }
    }
  }

  &::-webkit-scrollbar {
    height: 100%;
    width: rem(10px);
  }

  &::-webkit-scrollbar-track {
    background: #091e4214;
    border-radius: 2em;
  }

  &::-webkit-scrollbar-thumb {
    background: $add-card;
    background-color: #cac7d3;
    border-radius: 2em;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 100%;
  }
}