.popover-labels {
  input {
    padding: rem(8px) rem(12px);
    width: 100%;

    color: $text;
    font-size: rem(14px);
    line-height: rem(20px);

    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

    outline: none;
    border: none;
    border-radius: 3px;

    &:focus {
      box-shadow: inset 0 0 0 2px $input-focus;
    }
  }

  p {
    color: $text-subtle;
    font-size: rem(12px);
    font-weight: 600;
    line-height: rem(16px);
    margin-top: rem(12px);
  }

  .labels-list {
    padding-block: rem(4px) rem(8px);

    li {
      display: grid;
      grid-template-columns: 1fr max-content;

      .checkbox-container {
        display: block;
        position: relative;
        padding-left: rem(35px);
        margin-bottom: rem(12px);
        cursor: pointer;
        font-size: rem(22px);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .checkbox {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          /* When the checkbox is checked, add a blue background */
          &:checked ~ .checkmark {
            background-color: #2196f3;
            /* Show the checkmark when checked */
            &:after {
              display: block;
            }
          }
        }

        /* On mouse-over, add a grey background color */
        &:hover {
          .checkmark {
            background-color: #ccc;
          }
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: rem(25px);
          width: rem(25px);
          background-color: #eee;

          /* Create the checkmark/indicator (hidden when not checked) */
          &:after {
            content: '';
            position: absolute;
            display: none;
            left: rem(9px);
            top: rem(5px);
            width: rem(5px);
            height: rem(10px);
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      .label-color {
        max-width: 100%;
        min-width: rem(48px);
        // width: 100%;
        height: rem(32px);
        padding-inline: rem(12px);

        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(32px);
        text-align: left;

        border-radius: 3px;

        overflow: hidden;

        &:hover {
          filter: saturate(85%) brightness(85%);
        }
      }

      .edit-icon-btn {
        padding: rem(8px);
        .edit-icon {
          width: rem(16px);
          height: rem(16px);
        }
      }
    }
  }
}
