.popover-create-board {

    .board-example {
        width: 200px;
        height: 120px;
        margin: auto;
        padding: rem(4px);

        background: none;
        background-position: center center;
        background-size: cover;
        border-radius: 3px;
        box-shadow: var(--ds-shadow-raised, 0 7px 15px rgba(0, 0, 0, 0.15));
    }

    .background-choice {
        color: $text-subtle;
        font-size: rem(12px);
        line-height: rem(16px);
        margin-block-end: rem(4px);
        margin-block-start: rem(18px);
    }

    // .background-btns {
    //     li {
    //         button {}
    //     }
    // }

    .board-title-container {
        .form-board-title {
            gap: 2px;
            color: $text-subtle;
            font-size: rem(12px);
            line-height: rem(16px);
            font-weight: 700;
            font-family: $font-input;

            .asterisk {
                color: $asterisk;
            }
        }

        input {
            padding: rem(8px) rem(12px);
            margin-block-start: 2px;
            margin-block-end: rem(4px);

            border: none;
            outline: none;

            color: $text;
            font-family: $font-input;
            font-size: rem(14px);
            line-height: rem(20px);
            box-shadow: inset 0 0 0 2px #091E4224;

            .required {
                box-shadow: inset 0 0 0 2px $asterisk;
            }

            &:focus {
                box-shadow: inset 0 0 0 2px $btn-blue1;
            }

            &:hover {
                box-shadow: inset 0 0 0 2px $asterisk;
            }

        }

        .required-title {
            span {
                margin-right: 8px;
                font-size: 14px;
                line-height: 20px;

            }

            p {
                margin: 0 0 8px;
                color: $text;
                font-family: $font-input;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
            }
        }

        .create-btn {
            padding: rem(6px) rem(12px);
            box-shadow: none;
            border: none;
            cursor: not-allowed;
            width: 100%;
            margin-block-start: rem(12px);
            font-family: $font-input;
            font-size: rem(14px);
            line-height: rem(20px);


            background-color: $btn-blue;
            color: #fff;

            .required {
                background-color: #091E4208;
                color: #091E424F;
            }
        }

    }
}