.popover-members {
  input {
    padding: rem(8px) rem(12px);
    width: 100%;
    margin: rem(4px) 0 rem(12px);

    color: $text;
    font-size: rem(14px);
    line-height: rem(20px);
    box-shadow: inset 0 0 0 2px var(--ds-border-input, $button-board-header);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

    outline: none;
    border: none;
    border-radius: 3px;

    &:focus {
      box-shadow: inset 0 0 0 2px $input-focus;
    }

    &::placeholder{
      color: $text;
    }

  }

  .members-title {
    color: #44546F, #5e6c84;
    font-size: rem(12px);
    font-weight: 600;
    line-height: rem(16px);
    margin: 0 0 rem(8px);
  }

  .members-list {
    li {
      .user-button {
        height: rem(40px);
        width: rem(280px);
        margin-bottom: rem(2px);
        padding: rem(4px);

        border-radius: 3px;
        color: $text;
        line-height: rem(32px);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        p {
          margin-left: rem(8px);
          color: $text-subtle;
        }

        span {
          display: flex;
          align-items: center;
          padding: rem(11px);
          width: rem(42px);
          height: rem(42px);

          svg {
            height: rem(16px);
            width: rem(16px);
          }

        }
      }
    }
  }
}