// REM Functions
@function rem($size) {
  $remSize: calc($size / 16px);
  @return calc($remSize * 1rem);
}

// EM Functions
@function em($pixels, $context: 16px) {
  @return calc(($pixels/$context) * 1em);
}

@function adjust-text-color($--clr) {
  $red: red($--clr);
  $green: green($--clr);
  $blue: blue($--clr);
  $gray: $red * 0.299 + $green * 0.587 + $blue * 0.114;
  @if ($gray < 128) {
    @return white;
  } @else {
    @return darken($--clr, 50%);
  }
}
