@mixin format-green-subtler {
  color: adjust-text-color($green-subtler);
}
@mixin format-yellow-subtler {
  color: adjust-text-color($yellow-subtler);
}
@mixin format-orange-subtler {
  color: adjust-text-color($orange-subtler);
}
@mixin format-red-subtler {
  color: adjust-text-color($red-subtler);
}
@mixin format-purple-subtler {
  color: adjust-text-color($purple-subtler);
}
@mixin format-green-subtle {
  color: adjust-text-color($green-subtle);
}
@mixin format-yellow-subtle {
  color: adjust-text-color($yellow-subtle);
}
@mixin format-orange-subtle {
  color: adjust-text-color($orange-subtle);
}
@mixin format-red-subtle {
  color: adjust-text-color($red-subtle);
}
@mixin format-purple-subtle {
  color: adjust-text-color($purple-subtle);
}
@mixin format-green-bolder {
  color: adjust-text-color($green-bolder);
}
@mixin format-yellow-bolder {
  color: adjust-text-color($yellow-bolder);
}
@mixin format-orange-bolder {
  color: adjust-text-color($orange-bolder);
}
@mixin format-red-bolder {
  color: adjust-text-color($red-bolder);
}
@mixin format-purple-bolder {
  color: adjust-text-color($purple-bolder);
}
@mixin format-blue-subtler {
  color: adjust-text-color($blue-subtler);
}
@mixin format-teal-subtler {
  color: adjust-text-color($teal-subtler);
}
@mixin format-lime-subtler {
  color: adjust-text-color($lime-subtler);
}
@mixin format-magenta-subtler {
  color: adjust-text-color($magenta-subtler);
}
@mixin format-gray-subtler {
  color: adjust-text-color($gray-subtler);
}
@mixin format-blue-subtle {
  color: adjust-text-color($blue-subtle);
}
@mixin format-teal-subtle {
  color: adjust-text-color($teal-subtle);
}
@mixin format-lime-subtle {
  color: adjust-text-color($lime-subtle);
}
@mixin format-magenta-subtle {
  color: adjust-text-color($magenta-subtle);
}
@mixin format-gray-subtle {
  color: adjust-text-color($gray-subtle);
}
@mixin format-blue-bolder {
  color: adjust-text-color($blue-bolder);
}
@mixin format-teal-bolder {
  color: adjust-text-color($teal-bolder);
}
@mixin format-lime-bolder {
  color: adjust-text-color($lime-bolder);
}
@mixin format-magenta-bolder {
  color: adjust-text-color($magenta-bolder);
}
@mixin format-gray-bolder {
  color: adjust-text-color($gray-bolder);
}

/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: calc($narrow-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: calc($normal-breakpoint + 40px)) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
