@font-face {
    font-family: charlie-bold;
    src: url(../../fonts/charlie-display-bold.ttf);
}

@font-face {
    font-family: charlie-regular;
    src: url(../../fonts/charlie-display-regular.ttf);
}