// Colors

$blue-button: #0c66e4;
$blue-bgc: #e9f2ff;

//board 
//header
$header-bgc: #594455;
//board-header
$button-highlighted: #DFE1E6;
$board-header-background-transparent: #684f63;
$button-board-header: #dfe1e6;

//card
$card-preview: #f1f2f4;
$card-title: #172b4d;
$card-input-hover: #091e42;// opacity 14%
$logic-button-bgc: #579dff;
$logic-button: #09326c;
$small-titles: #44546f;

//labels
$red-subtlest: #FFEDEB;
$red-subtler: #FFD2CC;
$red-subtle: #F87462;
$red-bolder: #CA3521;
$orange-subtlest: #FFF4E5;
$orange-subtler: #FFE2BD;
$orange-subtle: #FAA53D;
$orange-bolder: #B65C02;
$yellow-subtlest: #FFF7D6;
$yellow-subtler: #F8E6A0;
$yellow-subtle: #E2B203;
$yellow-bolder: #946F00;
$green-subtlest: #DFFCF0;
$green-subtler: #BAF3DB;
$green-subtle: #4BCE97;
$green-bolder: #1F845A;
$teal-subtlest: #E3FAFC;
$teal-subtler: #C1F0F5;
$teal-subtle: #60C6D2;
$teal-bolder: #1D7F8C;
$blue-subtlest: #E9F2FF;
$blue-subtler: #CCE0FF;
$blue-subtle: #579DFF;
$blue-bolder: #0C66E4;
$purple-subtlest: #F3F0FF;
$purple-subtler: #DFD8FD;
$purple-subtle: #9F8FEF;
$purple-bolder: #6E5DC6;
$magenta-subtlest: #FFECF8;
$magenta-subtler: #FDD0EC;
$magenta-subtle: #E774BB;
$magenta-bolder: #AE4787;
$-gray-subtlest: #F1F2F4;
$gray-subtler: #DCDFE4;
$gray-subtle: #8590A2;
$gray-bolder: #626F86;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;