// Colors

$blue-button: #0c66e4;
$blue-bgc: #e9f2ff;

//board
//header
$header-bgc: #594455;
// $btn-blue: #0065ff; //no
$btn-blue: #0c66e4;
$btn-blue-hover:  #0055cc;
$atlassian: #0747a6;
//board-header
$button-highlighted: #dfe1e6;
// $board-header-background-transparent: #684f63;
$board-header-background-transparent: #0000003d;
$button-board-header: #dfe1e6;

//card
$card-preview: #f1f2f4;
$card-title: #172b4d;
// $card-input-hover: #091e42;// opacity 14%
$card-input-hover: rgba(9, 30, 66, 0.14); // opacity 14%
$logic-button-bgc: #579dff;
$logic-button: #09326c;
$small-titles: #44546f;
$icon: #626f86;
$card-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

//Hover
$icon-hover:#091e2426 ;

//labels
$red-subtlest: #ffedeb;
$red-subtler: #ffd2cc;
$red-subtle: #f87462;
$red-bolder: #ca3521;
$orange-subtlest: #fff4e5;
$orange-subtler: #ffe2bd;
$orange-subtle: #faa53d;
$orange-bolder: #b65c02;
$yellow-subtlest: #fff7d6;
$yellow-subtler: #f8e6a0;
$yellow-subtle: #e2b203;
$yellow-bolder: #946f00;
$green-subtlest: #dffcf0;
$green-subtler: #baf3db;
$green-subtle: #4bce97;
$green-bolder: #1f845a;
$teal-subtlest: #e3fafc;
$teal-subtler: #c1f0f5;
$teal-subtle: #60c6d2;
$teal-bolder: #1d7f8c;
$blue-subtlest: #e9f2ff;
$blue-subtler: #cce0ff;
$blue-subtle: #579dff;
$blue-bolder: #0c66e4;
$purple-subtlest: #f3f0ff;
$purple-subtler: #dfd8fd;
$purple-subtle: #9f8fef;
$purple-bolder: #6e5dc6;
$magenta-subtlest: #ffecf8;
$magenta-subtler: #fdd0ec;
$magenta-subtle: #e774bb;
$magenta-bolder: #ae4787;
$-gray-subtlest: #f1f2f4;
$gray-subtler: #dcdfe4;
$gray-subtle: #8590a2;
$gray-bolder: #626f86;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;