// Fonts
$text-subtle: #44546f;
$text: #172b4d;

$blue-button: #0c66e4;
$blue-bgc: #e9f2ff;

//board
//header
$header-bgc: #594455;
$btn-blue1: #0065ff; //no
$btn-blue: #0c66e4;
$btn-blue-hover: #0055cc;
$btn-red-hover: #ae2a19;
$default-blue: #0747a6;
//board-header
$button-highlighted: #dfe1e6;
// $board-header-background-transparent: #684f63;
$board-header-background-transparent: #0000003d;
$button-board-header: #dfe1e6;

//login
$continue-btn: #5aac44;
$login-title: #5e6c84;

//card
$card-preview: #f1f2f4;
$add-card: #ffffff3d;
$card-title: #172b4d;
$input-focus: #388bff;
// $card-input-hover: #091e42;// opacity 14%
$logic-button-bgc: #579dff;
$logic-button: #09326c;
$small-titles: #44546f;
$icon: #626f86;
$card-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

//Hover
$icon-hover: #091e2426;
$close-icon-hover: #091e424f;
$close-icon-hover-light: #091e420f;
$add-group-hover: #a6c5e229;
$button-hover: #091e4224; // opacity 14%
$card-input-hover: rgba(9, 30, 66, 0.14); // opacity 14%

$sunken: #f7f8f9;

//labels
$red-subtlest: #ffedeb;
$red-subtler: #ffd2cc;
$red-subtle: #f87462;
$red-bolder: #ca3521;
$orange-subtlest: #fff4e5;
$orange-subtler: #ffe2bd;
$orange-subtle: #faa53d; //default 3
$orange-bolder: #b65c02;
$yellow-subtlest: #fff7d6;
$yellow-subtler: #f8e6a0;
$yellow-subtle: #e2b203; //default 2
$yellow-bolder: #946f00;
$lime-subtlest: #eefbda;
$lime-subtler: #d3f1a7;
$lime-subtle: #94c748; //default 7
$lime-bolder: #5b7f24;
$green-subtlest: #dffcf0;
$green-subtler: #baf3db;
$green-subtle: #4bce97; //default 1
$green-bolder: #1f845a;
$teal-subtlest: #e3fafc;
$teal-subtler: #c1f0f5;
$teal-subtle: #60c6d2; //default 6
$teal-bolder: #1d7f8c;
$blue-subtlest: #e9f2ff;
$blue-subtler: #cce0ff;
$blue-subtle: #579dff; //default 5
$blue-bolder: #0c66e4;
$purple-subtlest: #f3f0ff;
$purple-subtler: #dfd8fd;
$purple-subtle: #9f8fef; //default 4
$purple-bolder: #6e5dc6;
$magenta-subtlest: #ffecf8;
$magenta-subtler: #fdd0ec;
$magenta-subtle: #e774bb; //default 8
$magenta-bolder: #ae4787;
$-gray-subtlest: #f1f2f4;
$gray-subtler: #dcdfe4;
$gray-subtle: #8590a2; //default 9
$gray-bolder: #626f86;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

.d4bce97 {
  background-color: darken(#4bce97, 30%);
}

.de2b203 {
  background-color: darken(#e2b203, 30%);
}

.dfaa53d {
  background-color: darken(#faa53d, 30%);
}

.df87462 {
  background-color: darken(#f87462, 30%);
}

.d9f8fef {
  background-color: darken(#9f8fef, 30%);
}

.d579dff {
  background-color: darken(#579dff, 30%);
}

.d60c6d2 {
  background-color: darken(#60c6d2, 30%);
}

.d94c748 {
  background-color: darken(#94c748, 30%);
}

.de774bb {
  background-color: darken(#e774bb, 30%);
}

.d8590a2 {
  background-color: darken(#8590a2, 30%);
}
