// Setup
@import 'setup/_functions.scss';
@import 'setup/_mixins.scss';
@import 'setup/_typography.scss';
@import 'setup/_variables.scss';

// Basics
@import 'basics/_helpers.scss';
@import 'basics/_layout.scss';
@import 'basics/_base.scss';
@import 'basics/_links.scss';
@import 'basics/_forms.scss';

// Views
@import 'views/_home.scss';
@import 'views/_workspaces.scss';
@import 'views/_board-index.scss';
@import 'views/_login-signin.scss';

// Components
@import 'cmps/_app-header-home.scss';
@import 'cmps/_group-list.scss';
@import 'cmps/_group-preview.scss';
@import 'cmps/_task-list.scss';
@import 'cmps/_task-preview.scss';
@import 'cmps/_task-details.scss';
@import 'cmps/_board-menu.scss';
@import 'cmps/_board-header.scss';
@import 'cmps/_app-header.scss';
@import 'cmps/_user-img.scss';
@import 'cmps/_add-group.scss';
@import 'cmps/_add-close-buttons.scss';
@import 'cmps/_popover.scss';
@import 'cmps/_board-list.scss';
@import 'cmps/_board-preview.scss';
@import 'cmps/_board-list-title.scss';
@import 'cmps/_color-palette.scss';
@import 'cmps/_users-list.scss';
@import 'cmps/_checkbox.scss';
@import 'cmps/_loader.scss';

//Popovers
@import 'cmps/popovers/_popover-labels.scss';
@import 'cmps/popovers/popover-labels/_label-editor.scss';
@import 'cmps/popovers/_popover-members.scss';
@import 'cmps/popovers/_popover-attachment.scss';
@import 'cmps/popovers/_popover-delete-attachment.scss';
@import 'cmps/popovers/_popover-edit-attachment.scss';
@import 'cmps/popovers/_popover-cover.scss';
@import 'cmps/popovers/_popover-cmp-header.scss';
@import 'cmps/popovers/_popover-checklist.scss';
@import 'cmps/popovers/_popover-dates.scss';
@import 'cmps/popovers/popover-delete-checklist.scss';
@import 'cmps/popovers/popover-logout.scss';
@import 'cmps/popovers/popover-create-board.scss';
@import 'cmps/popovers/popover-filter.scss';
@import 'cmps/popovers/popover-member-info.scss';
@import 'cmps/popovers/popover-group-actions.scss';

//Task Details
@import 'cmps/task-details/_task-cover.scss';
@import 'cmps/task-details/_task-description.scss';
@import 'cmps/task-details/_task-attachments.scss';
@import 'cmps/task-details/_show-task-details.scss';
@import 'cmps/task-details/_task-details-header.scss';
@import 'cmps/task-details/_actions-list.scss';

//Task Preview Indicators
@import 'cmps/task-preview-indicators/_indicator-due-date.scss';
@import 'cmps/task-preview-indicators/_indicator.scss';

//Checklist
@import 'cmps/task-details/checklist/_checklist-index.scss';
@import 'cmps/task-details/checklist/_checklist-list.scss';
@import 'cmps/task-details/checklist/_checklist-preview.scss';
@import 'cmps/task-details/checklist/_progress-bar.scss';
@import 'cmps/task-details/checklist/_todo-list.scss';
@import 'cmps/task-details/checklist/_todo-preview.scss';

//Board Menu
@import 'cmps/board-menu/_board-menu-title.scss';
@import 'cmps/board-menu/_menu-about.scss';
@import 'cmps/board-menu/_menu-background.scss';
@import 'cmps/board-menu/_photos-list.scss';
@import 'cmps/board-menu/_menu-activities.scss';
